// container styles
%nyseContainers {
  background-color: #efefef;
  width: 49.5%;
  height: auto;
  padding: 1.5vw;
  margin: auto;
  display: block;
  box-sizing: border-box;
  border:.3vw solid #fff;
  border-radius: 5%;
  text-align: center;
  opacity: 0.7;
}

.nyseCalculatorContainer {
  @extend %nyseContainers;
  float: left;
}

.nyseLogContainer {
  @extend %nyseContainers;
  float: right;
}

//text heading styles
%nyseHeadings {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: .2vw solid #fff;
  opacity: 0.6;
}
.nyseCalculatorHeading {
  @extend %nyseHeadings;
}

.nyseLogHeading {
  @extend %nyseHeadings;
}

// form and input styles
.nyseFormStyle {
  background-color: #fff;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  margin: 0 auto 1.25rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  font-size: 1.5rem;
  opacity: 0.6;
  transition: 0.3;
  &:active {
    opacity: 1.0;
  }
  &:hover {
    opacity: 1.0;
  }
}

// submit button styles
.nyseSubmitStyle {
  background: linear-gradient(to right, 	#4169E1, #1E90FF,  #4169E1);
  color: #fff;
  font-weight: 200;
  width: auto;
  padding: 1rem 2.5rem;
  margin: 1.25rem auto 0.5rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 5%;
  font-size: 1.5rem;
  opacity: 0.6;
  transition: 0.4s;
  &:active {
    background: linear-gradient(to right, 	#4169E1 , 	#1E90FF,  #4169E1);
    color: #fff;
    font-weight: 600;
    opacity: 1;
  }
  &:hover {
    background: linear-gradient(to right, 	#4169E1, #1E90FF,  #4169E1);
    color: #fff;
    font-weight: 600;
    opacity: 1;
  }
}

//label styles
.nyseLabelStyle {
  background-color: #efefef;
  color: #191970;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 5%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  opacity: .7;
}